body{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    background-size: auto;
    background-repeat: no-repeat;
    /* height: 100%;
    width: 100%; */
    background: linear-gradient(90deg, #21E1E1 30%, white 30%);
    /* background: linear-gradient(45deg, red, blue); */
    }
.box{
    /* margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right: 50px; */

    border: black;
    width: 60%;
    padding: px;
    position: static; 
    
    text-align: center;}
.box h1 {
    color: #21E1E1;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"], .box input[type="password"]
{
    background: white;
    display: block;
    margin: 20px auto;
    text-align: left;
    padding: 15px 15px;
    width: 250px;
    color:black;
    border: 0.5px solid black;
}
.box input[type="text"]:hover, .box input[type="password"]:hover{
width: 250px;
border-color: black;
}

.box input[type="submit"]
{
    border: 0px;
    background: #21E1E1;
    display: block;
    margin: 3px auto;
    text-align: center;
    border: 3px solid white;
    padding: 12px 12px;
    font-weight: 900;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.box input[type="submit"]:active{
    box-shadow: 0 5px white;
    transform: translateY(2px);
}
/* .box input[type="submit"]:hover{
    background: #00d7ff;
} */