<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="utf-8">
	<title> Project </title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    <center>
    <form class="box" action="/register" method="POST">
        <h1>REGISTRATION PAGE</h1>
        <input type="text" name="username" placeholder="Enter Username" id="username"  required>
        <input type="password" name="password" placeholder="Enter password" id="password" required>
        <input type="submit"  value="Register">
    </form>
</center>
</body>
</html>