<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="utf-8">
	<title> Project </title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    <form class="box" method="POST" action="{{url_for("update_record",uid=data1.username)}}" >
        <h1>wecome "{{data1.username}}" </h1>
        
        <input type="password" name="password" placeholder="Enter password" id="password" >
        <input type="submit"  value="update">
    </form>
</body>
</html>